fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pymupdf
pytesseract
sentence-transformers
faiss-cpu
requests
python-dotenv
aiofiles
jinja2
pytest
httpx
supabase
python-docx
numpy
scikit-learn
